html,
body,
.main {
  height: 100%;
  width: 100%;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Define positioning of closed nav drawer and size and color */

nav {
  background-color: #fff;
  width: 250px;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  transition: transform 0.3s ease;
}

/* Define positioning of opened nav drawer */

nav.open {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

/* Nav list should use full width of nav */

.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Define look of each nav menu list item */

.nav-item {
  box-sizing: border-box;
  display: list-item;
  width: 100%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
}

/* Define positioning of element user clicks on to display nav menu */

.header-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 1em;
}

/* Define size and fill color of icon for showing nav menu */

.header-menu svg {
  width: 32px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

/* Define default font info for h elements */

h1 {
  font-size: 40px;
  color: #800000; /* reddish instead of orange */
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #999; /* gray instead of black */
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}

/* Formatting for date values */

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

/* Formatting for location info */

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

/* Formatting for p elements */

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

/* Formatting for a elements */

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

/* Formatting for welcome message */

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

/* Formatting for Skills header text */

.skills-h3 {
  color: #800000; /* reddish text instead of orange */
  display: none;
}

/* Defining some of the common colors being used */

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.reddish-text {
  color: #800000;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.blue {
  background-color: #00f;
}

.light-blue {
  background-color: #3399ff;
}

/* TODO: Replace with image later */
.header {
  background-color: #3399ff; /* change dark gray to light blue */
}

.flex-box {
  /*display: -webkit-flex;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.bio-pic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

/* Set default padding around some elements */

img {
  padding: 10px;
}

span {
  padding: 5px;
}

button {
  padding: 10px;
}

.lets-connect {
  text-align: center;
}

/* Setting some properties for map display */

.map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

.mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  .lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 900px) {
  .bio-pic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  .lets-connect {
    margin-top: 10%;
  }

  .bio-pic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  .skills-h3,
  .bio-pic {
    display: block;
  }
}
